<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="text/javascript">
        //验证是否时IE
        function checkIE() {
            var isIE = true;
            if (navigator && navigator.userAgent) {
                var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
                isIE = (userAgent.indexOf("compatible") > -1 && (userAgent.indexOf("MSIE 6.0") > -1 || userAgent.indexOf("MSIE 7.0") > -1 || userAgent.indexOf("MSIE 8.0") > -1 || userAgent.indexOf("MSIE 9.0") > -1)); //判断是否IE浏览器
            }
            if (isIE) {
                return true;
            }
            return false;
        }
    
        let url = "http://www.baidu.com?name=elephant&age=25&sex=male&num=100"
        // // 返回参数对象
        function queryURLParams(url) {
            let pattern = /(\w+)=(\w+)/ig; //定义正则表达式
            let parames = {}; // 定义参数对象
            url.replace(pattern, ($, $1, $2) => {
                parames[$1] = $2;
            });
            return parames;
        }
        console.log(queryURLParams(url))
            (function () {
                if (checkIE()) { //判断是否是IE浏览器
                    // var url = window.location.protocol + '//' + window.location.host;
                    var url = window.location.href;
                    url = url.toString().replace(/\&/g, '\^\&');
                    // 这样写就不会报错了 ActiveXObject is not definde
                    if (window.ActiveXObject) {
                        var ws = null;
                        ws = new ActiveXObject("WScript.Shell");
                        ws.Run('cmd.exe /c start chrome' + ' ' + url, 0, true);
                        this.window.close();
                    }
                } else {
                    //当前页面加载新的地址
                    window.location.replace(url)
                }
            }())
    
    </script>
</body>
</html>